

<div class="Implementation">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
        <input #gbguests type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
    </div>
    <p-dataTable [value]="kvmguests"
                 [paginator]="false"
                 [rows]="20"
                 [responsive]="true"
                 sortMode="multiple"
                 resizableColumns="true"
                 [globalFilter]="gbguests">
        <header>
            <div class="ui-helper-clearfix">
                <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
            </div>
        </header>
        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]="true" [sortable]="true"></p-column>
        <footer><div class="ui-helper-clearfix" style="width:100%"></div></footer>
    </p-dataTable>

</div>
